@{
    ViewBag.Title = "Произведения";

    List<WritingPlatform.Web.Models.UserViewModel> users = ViewBag.Users;
    List<WritingPlatform.Web.Models.GenreViewModel> genres = ViewBag.Genres;
}

<h2>Произведения</h2>

@Html.ActionLink("Создать произведение", "CreateAndEdit", "WriterWork")

     <div>
         @foreach(var item in ViewBag.WritersWorks)
         {  
            string loginUser = users.Where(u => u.Id == item.UserId).First().LoginUser;
            string nameGenre = genres.Where(u => u.Id == item.GenreId).First().NameGenre;
            string titleWork = item.TitleWork;

             <div class="writers-works" style="margin-left:50px;">
                <h4>@Html.ActionLink(titleWork, "WriterWorkPage", "WriterWork", new { id = item.Id }, null)</h4>
                <p>Жанр: @nameGenre</p>
                <p>Автор: @loginUser</p>
                <p>Дата публикации: @item.PublicationDate.ToShortDateString()</p>
                <div class="writer-work-text">@item.WriterWorkText</div>
                @if (User.Identity.IsAuthenticated)
                    {
                        int currentUserId = users.Where(u => u.LoginUser == User.Identity.Name).First().Id;
                        if (item.UserId == currentUserId)
                        {
                            <div>
                                <button type="button">@Html.ActionLink("Редактировать произведение", "CreateAndEdit", "WriterWork", new { id = @item.Id }, null)</button>
                                <button type="button">@Html.ActionLink("Удалить произведение", "Delete", "WriterWork", new { id = @item.Id }, null)</button>
                            </div>
                        }
                    }
             </div>
         }
     </div>