@{
    ViewBag.Title = "Произведения";
}

<h2>Роли</h2>

@Html.ActionLink("Создать произведение", "CreateAndEdit", "User")

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Жанр</th>
            <th scope="col">Автор</th>
            <th scope="col">Дата публикации</th>
            <th scope="col">Текст произведения</th>
        </tr>
    </thead>
    <tbody>

        @{
            List<WritingPlatform.Web.Models.UserViewModel> users = ViewBag.Users;
            List<WritingPlatform.Web.Models.GenreViewModel> genres = ViewBag.Genres;
        }

        @foreach (var item in ViewBag.WritersWorks)
        {

            string loginUser = users.Where(u => u.Id == item.UserId).First().LoginUser;
            string nameGenre = genres.Where(u => u.Id == item.GenreId).First().NameGenre;
        <tr>
            <td scope="row">@item.TitleWork</td>
            <td scope="row">@nameGenre</td>
            <td scope="row">@loginUser</td>
            <td scope="row">@item.PublicationDate</td>
            <td scope="row">@item.WriterWorkText</td>
            <td scope="row">@Html.ActionLink("Редактировать произведение", "CreateAndEdit", "User", new { id = @item.Id }, null)</td>
            <td scope="row">@Html.ActionLink("Удалить произведение", "Delete", "User", new { id = @item.Id }, null)</td>
        </tr>

        }
</table>