@model WritingPlatform.Web.Models.WriterWorkViewModel
@using WritingPlatform.Web.Models;
@{
    ViewBag.Title = Model.TitleWork;
    List<WritingPlatform.Web.Models.UserViewModel> users = ViewBag.Users;
}

<div class="form-horizontal">
    <div>
        <h2>@Model.TitleWork</h2>
        <p>Жанр: @ViewBag.Genre</p>
        <p>Автор: @ViewBag.User</p>
        <p>Дата публикации: @Model.PublicationDate</p>
        <p>@Model.WriterWorkText</p>
    </div>

    <div class="form-horizontal">
        @{
            Html.RenderAction("CreateAndEdit", "CommentUser", new { id = Model.Id });
         }
    </div>

    <div class="form-horizontal">
        @{
            Html.RenderAction("_CommentsPartialView", "CommentUser", new { writerWorkId = Model.Id });
        }
    </div>
</div>