@model WritingPlatform.Web.Models.WriterWorkViewModel
@using WritingPlatform.Web.Models;
@{
    ViewBag.Title = Model.TitleWork;
    List<WritingPlatform.Web.Models.UserViewModel> users = ViewBag.Users;
}

<div class="form-horizontal">
    <div>
        <h4>@Model.TitleWork</h4>
        <p>Жанр: @ViewBag.Genre</p>
        <p>Автор: @ViewBag.User</p>
        <p>Дата публикации: @Model.PublicationDate</p>
        <p>@Model.WriterWorkText</p>
    </div>

    <div class="form-horizontal">
        @{
            Html.RenderAction("_Create", "CommentUser", new { writerWorkId = Model.Id });
         }
    </div>

    <div>
        @*@Html.Partial("_CommentsPartialView")*@

        <p>Комментарии</p>
        @foreach (var item in ViewBag.Comments)
        {
            string loginUser = users.Where(u => u.Id == item.UserId).First().LoginUser;

            <div class="comments">
                <div class="comment dialog">
                    @Html.Label(loginUser)
                    <p>@item.CommentsText</p>
                </div>
            </div>
        }
    </div>

</div>