@{
    ViewBag.Title = "Жанры";
}

<h2>Авторы</h2>

@Html.ActionLink("Создать жанр", "CreateAndEdit", "Genre")

<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Название</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Genres)
            {
            <tr>
                <td scope="row">@item.NameGenre</td>
                <td scope="row">@Html.ActionLink("Редактировать жанр", "CreateAndEdit", "Genre", new { id = @item.Id }, null)</td>
                <td scope="row">@Html.ActionLink("Удалить жанр", "Delete", "Genre", new { id = @item.Id }, null)</td>
            </tr>
            }
</table>