@{
    ViewBag.Title = "Комментарии";
}

<h2>Авторы</h2>

@*@Html.ActionLink("Создать комментарий", "CreateAndEdit", "CommentUser")

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Произведение</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Комментарий</th>
            </tr>
        </thead>
        @{
            List<WritingPlatform.Web.Models.UserViewModel> users = ViewBag.Users;
            List<WritingPlatform.Web.Models.WriterWorkViewModel> genres = ViewBag.WritersWorks;
        }
        <tbody>
            @foreach (var item in ViewBag.CommentsUsers)
            {
                string loginUser = users.Where(u => u.Id == item.UserId).First().LoginUser;
                string titleWork = genres.Where(u => u.Id == item.WriterWorkId).First().TitleWork;
                <tr>
                    <td scope="row">@titleWork</td>
                    <td scope="row">@loginUser</td>
                    <td scope="row">@item.CommentsText</td>
                    <td scope="row">@Html.ActionLink("Редактировать комментарий", "CreateAndEdit", "CommentUser", new { id = @item.Id }, null)</td>
                    <td scope="row">@Html.ActionLink("Удалить комментарий", "Delete", "CommentUser", new { id = @item.Id }, null)</td>
                </tr>
            }
    </table>*@
