@{
    ViewBag.Title = "Роли";
}

<h2>Роли</h2>

@Html.ActionLink("Создать роль", "CreateAndEdit", "Role")

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Название</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Roles)
        {
            <tr>
                <td scope="row">@item.NameRole</td>
                <td scope="row">@Html.ActionLink("Редактировать роль", "CreateAndEdit", "Role", new { id = @item.Id }, null)</td>
                <td scope="row">@Html.ActionLink("Удалить роль", "Delete", "Role", new { id = @item.Id }, null)</td>
            </tr>
        }
</table>