@{
    ViewBag.Title = "Пользователи";
}

<h2>Список пользователей</h2>

@Html.ActionLink("Регистрация нового пользователя", "Register", "Account")

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Логин</th>
            <th scope="col">E-mail</th>
            <th scope="col">Роль</th>
            <th scope="col">IsDelete</th>
        </tr>
    </thead>
    <tbody>

        @{
            List<WritingPlatform.Web.Models.RoleViewModel> roles = ViewBag.Roles;
        }

        @foreach (var item in ViewBag.Users)
        {
            if (@item.IsDelete != true)
            {
                string nameRole = roles.Where(u => u.Id == item.RoleId).First().NameRole;
                <tr>
                    <td scope="row">@item.LoginUser</td>
                    <td scope="row">@item.EmailUser</td>
                    <td scope="row">@nameRole</td>
                    <td scope="row">@item.IsDelete</td>
                    <td scope="row">@Html.ActionLink("Редактировать пользователя", "Edit", "User", new { id = @item.Id }, null)</td>
                    <td scope="row">@Html.ActionLink("Удалить пользователя", "Delete", "User", new { id = @item.Id }, null)</td>
                </tr>
            }
        }
</table>