@model WritingPlatform.Web.Models.UserViewModel

@{
    ViewBag.Title = "Пользователи";
}

@{
    List<WritingPlatform.Web.Models.RoleViewModel> roles = ViewBag.Roles;
}

@if (User.Identity.IsAuthenticated && User.Identity.Name != "admin")
{
    <h2>Авторы</h2>

    @*@Html.ActionLink("Редактировать профиль", "Edit", "User", new { id = Model.Id }, null)
    @Html.ActionLink("Удалить профиль", "Delete", "User", new { id = Model.Id }, null)*@

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="row">Логин</th>
                <th scope="row">E-mail</th>
                @*<th scope="row">Пароль</th>*@
                <th scope="row">Количество произведений</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Users)
            {
                <tr>
                    <td scope="col">@item.LoginUser</td>
                    <td scope="col">@item.EmailUser</td>
                    @*<td scope="col">@item.PasswordUser</td>*@
                    <td scope="col">@ViewBag.CountWriterWork</td>
                </tr>
            }
        </tbody>
    </table>
}

else if (User.Identity.IsAuthenticated && User.Identity.Name == "admin")
{
    <h2>Список пользователей</h2>
    @Html.ActionLink("Регистрация нового пользователя", "Register", "Account")

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Логин</th>
                <th scope="col">E-mail</th>
                <th scope="col">Роль</th>
                <th scope="col">IsDelete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Users)
            {
                if (@item.IsDelete != true)
                {
                    string nameRole = roles.Where(u => u.Id == item.RoleId).First().NameRole;
                    <tr>
                        <td scope="row">@item.LoginUser</td>
                        <td scope="row">@item.EmailUser</td>
                        <td scope="row">@nameRole</td>
                        @if (@item.IsDelete == true)
                        {
                            <td scope="row">Пользователь удален</td>
                        }
                        else
                        {
                            <td scope="row"></td>
                        }
                        <td scope="row">@Html.ActionLink("Редактировать пользователя", "Edit", "User", new { id = @item.Id }, null)</td>
                        <td scope="row">@Html.ActionLink("Удалить пользователя", "Delete", "User", new { id = @item.Id }, null)</td>
                    </tr>
                }
            }
    </table>
}

else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Логин</th>
                <th scope="col">E-mail</th>
                <th scope="row">Количество произведений</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Users)
            {
                if (@item.IsDelete != true)
                {
                    <tr>
                        <td scope="row">@item.LoginUser</td>
                        <td scope="row">@item.EmailUser</td>
                        <td scope="col">@ViewBag.CountWriterWork</td>
                    </tr>
                }
            }
    </table>
}
